@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all .2s linear;
}

body {
  background-color: #050709;
}

.container {
  display: -webkit-grid;
  /* Safari */
  display: -ms-gridbox;
  /* IE */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* position: sticky; */
}

.circle {
  transform: translate(-50%, -50%);
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 10%;
  background-color: transparent;
  box-shadow: 200px 200px 200px 200px #2f0d72;
  z-index: -1;
  animation: light 15s ease-in-out infinite;
}
